@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter {
    font-family: "Inter", sans-serif;
}

body {
    background: linear-gradient(to right, #1a1a1a, #0d0d0d);
    color: white;
    padding: 40px 120px 40px 140px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-section {
    max-width: 1415px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.nav-icon {
    display: none;
}

.nav-bar {
    display: flex;
    gap: 3rem;
    align-items: center;
}

.nav-title {
    color: rgb(230, 83, 60);
    font-size: 2rem;
    font-weight: 800;
}

.nav-description {
    border-radius: 20px;
    padding: 10px;
    background: rgb(230, 83, 60);
}

/* banner section */
.banner-container {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* height: 600px; */
    max-width: 1415px;

}

.banner-info {
    max-width: 520px;
}

.banner-title {
    color: rgb(255, 255, 255);
    font-size: 4rem;
    font-weight: 900;

}

.shape {
    font-style: italic;
    font-family: 'Inter' cursive;
}

.banner-description {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    font-weight: 400;
    margin-top: 10px;
}

.btn-primary {
    border-radius: 42px;
    background: rgb(230, 83, 60);
    padding: 16px 40px;
    border: none;
    color: white;
    margin-top: 20px;
}

.btn-secoundary {
    padding: 16px 40px;
    margin-top: 20px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 42px;
    background: none;
    color: white;
    margin-left: 8px;
}

.banner-image {
    max-width: 349px;
    height: 650px;
    position: relative;
}

.banner-image img {
    width: 100%;
    height: 100%;
}

.card-1 {
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    max-width: 140px;
    max-height: 80px;
    display: flex;
    padding: 15px;
    gap: 10px;
    align-items: center;
    position: absolute;
    top: 80%;
    right: 75%;
}

.card-1-title {
    background: rgb(230, 83, 60);
    border-radius: 100%;
    width: 30px;
    height: 30px;
}

.card-2 {
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    max-width: 140px;
    max-height: 90px;
    padding: 15px;
    position: absolute;
    top: 50%;
    right: 0%;
}

.card-2 p {
    font-size: 0.8rem;
}

/* habits section */
.habits-section {
    margin-top: 80px;
}

.habit-content {
    text-align: center;
}

.habit-content h1 {
    font-size: 2.5rem;
    font-weight: 800;
}

.habit-content p {
    font-size: 0.8rem;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.5);
    line-height: 24px;
    letter-spacing: 0.3px;
}

.habit-image-container {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
}

.habit-card-1 img {
    border-radius: 50%;
    border: 0.5px solid grey;
}

.habit-card-1 {
    max-width: 231px;
    height: 300px;
    padding: 20px;
}

.habit-card-1 h4 {
    text-align: center;
    margin-top: 10px;
}

.habit-card-1 p {
    font-size: 0.8rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    line-height: 24px;
    letter-spacing: 0.3px;
    text-align: center;
    margin-top: 10px;
}

/* run section */
.run-section-container {
    border-radius: 18px;
    background: rgb(34, 34, 34);
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.run-section-content {
    max-width: 400px;
    padding: 30px;
}

.run-section-content h1 {
    font-size: 3rem;
    font-weight: 900;
    letter-spacing: 0%;
    line-height: 120%;
}

.run-section-content p {
    font-size: 0.8rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    line-height: 24px;
    letter-spacing: 0.3px;
    margin-top: 10px;
}

.btn-primary-1 {
    border-radius: 42px;
    background: rgb(230, 83, 60);
    padding: 16px 60px;
    border: none;
    color: white;
    margin-top: 20px;
}

.run-section-image {
    padding: 30px;
    width: 366px;
    height: 312px;
}

.run-section-image img {
    width: 100%;
    height: 100%;
    border-radius: 18px;
}

/* exercise section */
.exercise-section-container {
    margin-top: 50px;
}

.exercise-section-container h1 {
    text-align: left;
    font-size: 2.5rem;
    font-weight: 800;
}

.exercise-section-container p {
    text-align: left;
    font-size: 0.8rem;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 10px;
    margin-bottom: 20px;
}

.exercise-card-container-1 {
    display: grid;
    grid-template-columns: 1fr 2fr 1.3fr;
}

.exercise-card-container-2 {
    display: grid;
    grid-template-columns: 2fr 1fr 1.4fr;
}

.exercise-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.exercise-card {
    position: relative;
    height: 200px;
}

.overlay {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 20px;
    font-size: 1rem;
    font-weight: 600;
    justify-content: end;
    
}

.overlay-1 {
    background: rgba(6, 255, 209, 0.342);
}

.overlay-2 {
    background: rgba(255, 0, 0, 0.3);
}

.overlay-3 {
    background: rgba(0, 0, 0, 0.5);
}

.overlay-4 {
    background: rgba(0, 0, 0, 0.5);
}

.overlay-5 {
    background: rgba(66, 255, 0, 0.3);
}

.overlay-6 {
    background: rgba(0, 71, 255, 0.3);
}

.overlay-1 p {
    color: rgb(0, 0, 0);
}

/* bmi section */
.bmi-section-container {
    margin-top: 50px;
    background: rgb(34, 34, 34);
    display: grid;
    grid-template-columns: 0.8fr 1fr;
    gap: 20px;
}

.bmi-table {
    padding: 20px 60px;
}

.bmi-title {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 15px;
}

table {
    border-collapse: collapse;
    max-width: 400px;
}

th,
td {
    border: 0.5px solid grey;
    padding: 10px;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
}

.calculate-bmi {
    padding: 20px 60px;
}

.calculate-bmi h1 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 8px;
}

.calculate-bmi p {
    font-weight: 500;
    font-size: 0.7rem;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 8px;
}

.calculate-bmi form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.calculate-bmi form .span-2 {
    grid-column: span 2;
}

input,
select {
    background-color: #3a3a3a;
    border: none;
    border-radius: 8px;
    color: rgba(255, 255, 255, 0.245);
    font-size: 1rem;
    padding: 15px 20px;
    width: 100%;
}

/* team section */
.team-section-container {
    margin-top: 50px;
}

.team-section-container h1 {
    text-align: center;
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 10px;
}

.team-section-container p {
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 10px;
    color: #3a3a3a;
}

.team-container {
    border-radius: 18px;
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
.overlay p{
    color: #000;
    font-size: 1rem;
}
.team-1 {
    width: 350px;
    position: relative;
   
}
.team-1 img{
    width: 100%;
    height: 300px;
    border-radius: 18px;
    background: rgba(0, 0, 0, 0.2);
}
/* responsive style */
@media screen and (max-width: 576px) {

    .banner-container,
    .run-section-container,
    .bmi-section-container {
        flex-direction: column;
    }

    .nav-icon {
        display: block;
    }

    .nav-bar {
        display: none;
    }

    body {
        padding: 40px 20px;
    }

    .card-1 {
        top: 80%;
        right: 75%;
    }

    .card-2 {
        top: 55%;
        right: 0%;
    }

    .habit-image-container {
        grid-template-columns: repeat(1, 1fr);
        padding: 20px 100px;
    }

    .third,
    .sixth {
        display: none;
    }

    .exercise-card-container-1 {
        grid-template-columns: 1fr 0.8fr;
    }

    .exercise-card-container-2 {
        grid-template-columns: 0.8fr 1fr;
    }

    .bmi-table {
        padding: 20px 60px 40px 60px;
    }

    .bmi-section-container {
        grid-template-columns: 1fr;
    }
    .team-container{
        grid-template-columns: 1fr;
    }
    .team-1{
        width:100%;
    }
}

@media screen and (min-width:577px) and (max-width:992px) {
    .nav-icon {
        display: none;
    }

    .header-section {
        justify-content: space-between;
    }

    body {
        padding: 40px 20px;
    }

    .banner-container,
    .bmi-section-container {
        flex-direction: column;
    }

    .nav-bar {
        gap: 1.5rem;
    }

    .habit-image-container {
        grid-template-columns: repeat(2, 1fr);
        padding: 20px 50px;
    }

    .bmi-table {
        padding: 20px 60px 40px 60px;
    }

    .bmi-section-container {
        grid-template-columns: 1fr;
    }
     .team-1{
        width:100%;
    }
}